{% extends 'base.html' %}

{% block body %}
  <h1>AppInsecure</h1>
  <h3>Welcome to AppInsecure. An app... that is literally insecure.</h3>
  <p><b>Why:</b> Information should be free to all, but it should not come at the cost of privacy or security. I've built this app to be purposefully insecure so that you and I can learn how to build safer apps.</p>
  <p><b>How:</b> A task (goal) will be listed on every page hereforth to challenge your hacking skills. Once you achieve the task at hand, you should continue on to the next page. How will you know when you're successful? Oh, you'll know.</p>
  <p><b>Rules:</b> There are none, but ideally you should be able to solve the problems with the webapp setup on localhost:5000, having the web tools normally available to you as if you were browsing the site online. That means you shouldn't normally have access to anything besides what's in the /templates and /static folders.
  <form action='/levelzero'>Ready? Click the <input type="submit" name="nextlevel" value="button"> to continue.</form>

{% endblock %}
