{% extends 'base.html' %}

{% block body %}

<h2>Hooray! Looks like all you needed there was a bit of intuition to find the next page.</h2>

<p>What did I do wrong?</p>

<p><button class="btn btn-default">Show Answer</button></p>
<div class="reveal-hint" hidden>
If the next page contains secure information, a user should never be able to simply guess the url of the next page and be allowed to see it the contents of it.
</div>

Login<br>
<form action="/levelonejk" method="POST">
<label for="username">Username: </label><input type="text" name="username"><br>
<label for="password">Password: </label><input type="password" name="password"><br>
<input type="submit" name="submit">
</form>

{% endblock %}
